# Build output
Builds/VisualStudio2022/x64/
Builds/VisualStudio2022/.vs/
Builds/VisualStudio2022/*.user

# Visual Studio
.vs/
*.user
*.suo
*.aps
*.ncb
*.sdf
*.opensdf
*.cachefile
*.VC.db
*.VC.VC.opendb

# Compiled binaries & libraries
*.exe
*.dll
*.lib
*.pdb
*.ilk
*.exp
*.obj
*.o

# macOS
.DS_Store
*.dSYM/

# CMake (if ever used)
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
